/* Input de Informações da assinatura*/
*{ 
    margin:0; 
    padding:0;
}

body{ 
    font:100% normal Arial, Helvetica, sans-serif; 
    background:#EEE9E9 ; 
}

#cor{
    color:#1a0000;
}

#inputs, input, select{
    margin:0; 
    padding:0; 
    color:#ffffff; 
}

div.box {
    margin:0 auto;
    width:500px;
    background:#222222;
    position:relative;
    top:50px;
    border:1px solid #262626;
}

div.box h1 { 
    color:#ffffff;
    font-size:18px;
    text-transform:uppercase;
    padding:5px 0 5px 5px;
    border-bottom:1px solid #161712;
    border-top:1px solid #161712; 
    text-align: center;
}

div.box label {
    width:100%;
    display: block;
    background:#1C1C1C;
    border-top:1px solid #262626;
    border-bottom:1px solid #161712;
    padding:10px 0 10px 0;
}

div.box label span {
    display: block;
    color:#bbbbbb;
    font-size:12px;
    float:left;
    width:100px;
    text-align:right;
    padding:5px 20px 0 0;
}

div.box .input_text {
    padding:10px 10px;
    width:200px;
    background:#262626;
    border-bottom: 1px double #171717;
    border-top: 1px double #171717;
    border-left:1px double #333333;
    border-right:1px double #333333;
}

/* modelo de assinatura*/

div.assinatura {
    margin:0 auto;
    width:500px;
    background:#F8F8FF;
    position:relative;
    top:50px;
    border:1px solid #262626;
}

div.assinatura h1 { 
    color:#000000;
    font-size:18px;
    text-transform:uppercase;
    padding:5px 0 5px 5px;
    border-bottom:1px solid #161712;
    border-top:1px solid #161712; 
    text-align: center;
}

div.assinatura p, h3 {
    font-family:Arial, Helvetica, sans-serif;
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
}

/* Tutoriais de assinatura*/

div.Tutorial {
    margin:0 auto;
    width:500px;
    background:#F8F8FF;
    position:relative;
    top:50px;
    border:1px solid #262626;
}

div.Tutorial h1 { 
    color:#000000;
    font-size:18px;
    text-transform:uppercase;
    padding:5px 0 5px 5px;
    border-bottom:1px solid #161712;
    border-top:1px solid #161712; 
    text-align: center;
}
